/*

  Background: #FFF

  Gray: #BDBDBD

  Light: #EFEFEF

  Highlight: #FF5722

*/

body{
  margin:0;
  font-family:Sans-Serif;
  background-color:#F3F3F3;
}

ul{
  list-style-type: none;
}

#bottom{
  position:absolute;

  right:50px;
  left:250px;
  margin-top: 0;
  text-align:center;
}

#bottomColor{
  background-color:#EFEFEF;

  box-shadow:0 0 4px #222;

  z-index:-2;

  right:50px;
  left:250px;
  height:100%;

  position:fixed;
  top:0;
}

#bottomCover{
  top:0;
  z-index:-1;
  height:16px;
  background-color:#F3F3F3;
}

#bottom > * > ul {
  padding:0;
}

.nearby {
  display:inline-block;
  vertical-align:top;
  border:solid;
  border-color: #DFDFDF;
  background-color: #EFEFEF;

  width:200px;

  margin:10px;
}

.nearby > * {
  display:block;
  width:200px;
}

.neardescr{
  display:block;
  width:200px;
  height:;
}

#categories{
  background-color:#F5F5F5;
  display:inline-block;
  position:absolute;
  left:10px;
  top: 90px;

  width:200px;
  text-align:center;

  box-shadow:1px 1px 3px #333;
}

#categories > ul {
  padding-left:5px;
  padding-right:5px;
}

#categories > ul > * > *{
  display:block;
  color:#FF5722;
  font-family:Courier;
  font-weight:bold;
  margin-top:2px;

  text-decoration: none;

  font-size:20px;
}

#bullet{
  font-size:40px;
  margin-bottom:-20px;

  text-shadow: 0px 0px 1px #666;
}

#signon{
  display:inline-block;
  width:calc(100% - 220px);
  text-align:right;
  vertical-align:top;
  padding-top:13px;
}
