body{
  margin:0;
  font-family:Sans-Serif;
  background-color:#F3F3F3;
}

ul{
  list-style-type: none;
}

.nearby {
  display:inline-block;
  vertical-align:top;
  border:solid;
  border-color: #DFDFDF;
  background-color: #EFEFEF;

  margin:10px;
}

.nearby > * > * {
  display:block;
}

.neardescr{
  display:block;
}

.description{
  color:#2D2D2D;
  font-size:14px;
}

#categories{
  background-color:#F5F5F5;
  display:inline-block;
  position:absolute;
  left:10px;
  top: 80px;

  width:200px;
  text-align:center;

  box-shadow:1px 1px 3px #333;
}

#categories > ul {
  padding-left:5px;
  padding-right:5px;
}

#categories > ul > *{
  display:block;
  color:#FF1744;
  font-family:Courier;
  font-weight:bold;
  margin-top:2px;

  text-decoration: none;

  font-size:20px;
}

#bullet{
  font-size:25px;
}

#bottom{
  position:absolute;
  top:80px;
  left:250px;
  right:10%;
}

#bottom > * {
  background-color:#F5F5F5;
  display:inline-block;
  margin-right:5px;
  vertical-align:top;
}

#itemImg{
  width:200px;
  height:200px;
  box-shadow:0 0 5px #444;
  text-align: center;
}

#info{
  width:calc(100% - 220px);
  
  text-align: center;
}

#info > *{
  display:inline-block;
  vertical-align:top;
  width:69%;
}

#buyholder{
  width:30%;
  text-align:right;
}

#buy{
  text-align:left;
  right:5px;
  border:solid 1px;
  border-color:#666;
  margin:5px;
  padding:5px;
  font-size:20px;
}

#buy > button{
  margin-left:calc(50% - 73px / 2);
  background-color: #FF1744;
  box-shadow:0 0 10px black;
}

#meme{
  position:absolute;
  width:450px;
//  height:500px;
  top:260px;
  display:none;
  left:calc(50% - 450px / 2);

  background-color:#EFEFEF;
  box-shadow:0 0 4px #444;

  padding:15px;
}

form > input[type="submit"], #meme > button{
  margin-left:calc(50% - 60px / 2);
  margin-top:30px;

  box-shadow:0 1px 5px #444;
}

h1, h2 {
  color:#3E2723;
}
